*{
    margin:0;
    padding:0;
    border:0;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.vwo-page{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: #FFF;
}

li,p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.vwo-w2{
    width:20%;
    display: inline-block;
}

.vwo-w3{
    width:30%;
    display: inline-block;
}

.vwo-w4{
    width:40%;
    display: inline-block;
}

.vwo-w5{
    width:50%;
    display: inline-block;
}

.vwo-w6{
    width:60%;
    display: inline-block;
}

.vwo-w7{
    width:70%;
    display: inline-block;
}

.vwo-w8{
    width:80%;
    display: inline-block;
}

.vwo-w10{
    width:100%;
    display: inline-block;
}

.vwo-row{
    text-align: left;
    padding:5px 0;
}

.vwo-fn12{
    font-size: 12px;
}

.vwo-fn14{
    font-size: 14px;
}

.vwo-fn15{
    font-size: 15px;
}

.vwo-fn16{
    font-size: 16px;
}

.vwo-fn20{
    font-size: 20px;
}

.vwo-fn22{
    font-size: 22px;
}
.vwo-p05{
    padding:5px;
}
.vwo-p1-vertical{
    padding:10px 0;
}
.vwo-p1-horizontal{
    padding:0 10px;
}

.vwo-p1{
    padding:10px;
}

.vwo-p2-vertical{
    padding:20px 0;
}

.vwo-p2-horizontal{
    padding:0 20px;
}

.vwo-p2{
    padding:20px;
}

.vwo-p3-vertical{
    padding:30px 0;
}
.vwo-p3-horizontal{
    padding:0 30px;
}

.vwo-p3{
    padding:30px;
}

.vwo-m1-top{
    margin-top:10px;
}

.vwo-m1-vertical{
    margin:10px 0;
}
.vwo-m1-horizontal{
    margin:0 10px;
}
.vwo-m1{
    margin:10px;
}

.vwo-m2-vertical{
    margin:20px 0;
}
.vwo-m2-horizontal{
    margin:0 20px;
}
.vwo-m2{
    margin:20px;
}

.vwo-bold{
    font-weight: bold;
}
.vwo-clear{
    clear: both;
}
.vwo-input{
    width:100%;
    padding:10px 0;
    height:20px;
    vertical-align: bottom;
}

.vwo-left{
    text-align: left;
}

.vwo-right{
    text-align: right;
}

.vwo-center{
    text-align: center;
}
.vwo-C9C6C3{
    color:#C9C6C3;
}
.vwo-FFFFFF{
    color:#FFF;
}
.vwo-EC682F{
     color:#EC682F;
 }
.vwo-7FB1D1{
    color:#7FB1D1;
}
.vwo-A9A9A9{
    color:#A9A9A9;
}
.vwo-B8B8B8{
    color:#B8B8B8;
}
.vwo-E9E9E9{
    color:#E9E9E9;
}
.vwo-328EC1{
    color:#328EC1;
}
.vwo-F17F53{
    color:#F17F53;
}
.vwo-F5A731{
    color: #F5A731;
}
.vwo-267AB4{
    color:#267AB4;
}
.vwo-90AFb6{
    color:#90AFb6;
}
.vwo-424242{
    color:#424242;
}
.vwo-CBCBCB{
    color:#CBCBCB;
}
.vwo-D6D6D6{
    color:#D6D6D6;
}
.vwo-095AAC{
    color:#095AAC;
}

.vwo-radius4{
    border-radius: 4px;
}

.vwo-BSOLID{
    border-style: solid;
}

.vwo-B1{
    border-width: 1px;
}

.vwo-B2{
    border-width: 2px;
}

.vwo-B-46AAE2{
    border-color: #46AAE2;
}

.vwo-BTREN{
    border-color: transparent;
}
.vwo-B-FBD329{
    border-color: #FBD329;
}
.vwo-B-60C8B5{
    border-color: #60C8B5;
}
.vwo-B-328EC1{
    border:1px solid #328EC1;
}
.vwo-B-DFE0E1{
    border:1px solid #DFE0E1;
}


.vwo-BG-TRANSPARENT{
    background-color: transparent;
}
.vwo-BG-FFFFFF{
    background-color: #FFFFFF;
}
.vwo-BG-F17F53{
    background-color: #F17F53;
}
.vwo-BG-F1F1F1{
    background-color: #F1F1F1;
}
.vwo-BG-FAFAFA{
    background-color: #FAFAFA;
}
.vwo-BG-F6F5F7{
    background-color: #F6F5F7;
}
.vwo-BG-F7F8F9{
    background-color: #F7F8F9;
}
.vwo-BG-F3F2F7{
    background-color: #F3F2F7;
}
.vwo-BG-F9F9F9{
    background-color: #F9F9F9;
}
.vwo-BG-E4E4E4{
    background-color: #E4E4E4;
}
.vwo-BG-DFE0E1{
    background-color: #DFE0E1;
}
.vwo-BG-F5A631{
    background-color: #F5A631;
}
.vwo-BG-FAC733{
    background-color: #FAC733;
}

.vwo-button{
    width:100%;
    height:20px;
    line-height: 20px;
    padding:10px 0;
    display: inline-block;
    color:#7D501D;
}

.vwo-dialog{
    position: fixed;
    z-index: 13;
    width: 85%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #FAFAFC;
    text-align: center;
    border-radius: 5px;
}

.vwo-tip{
    position: absolute;
    top: 0;
    right: 0;
}

.vwo-tip:before {
    right: 0;
    border-width: 0 16px 16px;
    border-color: #F6F5F7 transparent;
}
.vwo-tip:before, .vwo-tip:after {
    content: "";
    position: absolute;
    border-style: solid;
    bottom: 0;
}
.vwo-tip:after {
    right: 2px;
    border-width: 0px 14px 14px;
    border-color: #F6F5F7 transparent;
}
.vwo-tip:before, .vwo-tip:after {
    content: "";
    position: absolute;
    border-style: solid;
    bottom: 0;
}

/**阴影*/
.vwo-shdow{
    -moz-box-shadow:2px 2px 10px #06c;
    -webkit-box-shadow:2px 2px 10px #06c;
    box-shadow:2px 2px 10px #06c;
}


@-webkit-keyframes slideIn{
    from{
        -webkit-transform:translate3d(100%,0,0);
        transform:translate3d(100%,0,0)
    }
    to{
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
}
@keyframes slideIn{
    from{
        -webkit-transform:translate3d(100%,0,0);
        transform:translate3d(100%,0,0)
    }
    to {
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
}
@-webkit-keyframes slideOut{
    from{
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
    to{
        -webkit-transform:translate3d(100%,0,0);
        transform:translate3d(100%,0,0)
    }
}
@keyframes slideOut{
    from{
        -webkit-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0)
    }
    to{
        -webkit-transform:translate3d(100%,0,0);
        transform:translate3d(100%,0,0)
    }
}
.vwo-page.slideIn{
    -webkit-animation:slideIn .2s forwards;
    animation:slideIn .2s forwards
}
.vwo-page.slideOut{
    -webkit-animation:slideOut .2s forwards;
    animation:slideOut .2s forwards
}


/***/

.foodFace{
    height:100px;
    right:20px;
    top:75%;
    position: absolute;
    text-align: right;
}

.foodFace > a{
    display: inline-block;
}

.foodFace > img{
    height:100%;
    vertical-align: top;
    border:1px solid #ccc;
}

.userFood{
    padding:10px 10px 0 80px;
    position: relative;
}
.userFood > img{
    position: absolute;
    top:10px;
    left:10px;
    width:60px;
    height:60px;
}

.userFood > h3{
    font-weight: inherit;
}

.userFood > p{
    font-size:14px;
}

.foodChat{
    padding:10px 10px 10px 100px;
}
.foodChat > div:first-child{
    width:100px;
    height:60px;
    position: absolute;
    left:10px;
}
.foodChat > div:first-child > img{
    width:60px;
    height:60px;
    vertical-align: top;
}

.comment{
    background-image:url(../images/comment.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right:20px;
    width:20px;
    height:20px;
    margin-top:5px;
}

.foodBtn{
    padding: 5px 10px;
    display: inline-block;
    border-radius: 25px;
    color: #ccc;
    width: 130px;
    border-width: 2px;
    border-style: solid;
}

.foodIon{
    border-radius: 25px;
    background-color: #F18053;
    width: 25px;
    height: 25px;
    color: #FFFFFF;
    display: inline-block;
    line-height: 25px;
    font-style: inherit;
    text-align: center;
}

.foodHelp{
    position:absolute;
    right:10px;
    top:20px;
    width:60px;
    height:60px;
    text-align: center;
}

.foodHelp > img{
    width:100%;
    height:100%;
}

.foodHelp > span{
    position: absolute;
    margin-top: 10px;
    display: block;
    width:100%;
    text-align: center;
    top: 0;
    color:#fff;
}
.foodCard{
    position: relative;
    border-radius: 5px;
    background: url('../images/line.png') #FFF repeat-x;
    background-position: 0 -5px;
}

.foodCard > span:first-child{
    font-size:30px;
    display:block;
    line-height: initial;
    font-weight: inherit;
    margin-top: 10px;
}
.foodCard > span:last-child{
    margin-bottom: 10px;
    display:block;
}

.foodCard > i {
    font-size: 40px;
    position: absolute;
    right:10px;
    top:20px;
}

.instructions{
    font-style: italic;
    text-decoration: underline;
}

.vwo-dialog h1{
    padding-left:20px;
    font-weight: inherit;
    color:#F39133;
}

.vwo-dialog ul{
    padding:10px 10px 20px 40px;
    vertical-align: middle;
}

.vwo-dialog ul li{
    list-style-type: decimal;
}

.bg-dialog{
    background: url('../images/popup_bg.png') #FFF repeat-x;
    background-position: -10px -30px;
}

.box{
    background: url('../images/line.png') #FFF repeat-x;
    background-position: 0px -10px;
}

.shopImg{
    background-image: url('../images/shop.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: text-top;
}
.groom-tools{
    width: 100%;
    position: absolute;
    height: 40px;
    bottom: 0px;
    background-color: #000;
    opacity: 0.8;
}
.groom-menu{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.groom-menu div{
    height: 40px;
    float: left;
    line-height: 40px;
    display: block;
    width: 50%;
    text-align: center;
}
.groom-menu .active{
    color:#FFF;
}

.imgBtn{
    position: absolute;
    width:120px;
    bottom:40px;
    right:10px;
    text-align: right;
}
.spinner {
    font-size: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 .1em rgba(58, 168, 237, .2);
}
.detail-close{
    position: absolute;
    right:10px;
    top:15px;
}
.spinner i {
    position: absolute;
    clip: rect(0, 1em, 1em, .5em);
    width: 200px;
    height: 200px;
    animation: spinner-circle-clipper 1s ease-in-out infinite;
}

@keyframes spinner-circle-clipper {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.spinner i:after {
    position: absolute;
    clip: rect(0, 1em, 1em, .5em);
    width: 1em;
    height: 1em;
    content: '';
    animation: spinner-circle 1s ease-in-out infinite;
    border-radius: 50%;
    box-shadow: inset 0 0 0 .1em #3aa8ed;
}

@keyframes spinner-circle {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.left{
    float: left; display: block;
}
.right{
    float: right; display: block;
}
.content{
    display: none;
}
.content.active{
    display: block;
}
.food-group{
    position: relative;
    overflow: hidden;
}
.food-group > img{
    width:100%;
}
.food-group > .imgRemove{
    background-image: url('../images/delete_pic.png');
    background-size: cover;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.food-group input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    font-size: 50rem;
}
ul,img{
    vertical-align: middle;
}
.input-group{
    padding:0px 20px;
}
.input-group > div{
    position: relative;
}
.input-group > div > i{
    position: absolute;
    right:1px;
    top:6px;
    width:35px;
    height:35px;
    line-height: 35px;
    text-align: center;
}
.input-group > div > input{
    margin:5px 0;
    width:100%;
    padding:10px 40px 10px 10px;
    border:1px solid #E4E4E4;
}

.btn-shdow{
    -moz-box-shadow:2px 2px 10px #06c;
    -webkit-box-shadow:2px 2px 10px #06c;
    box-shadow:2px 2px 10px #06c;
    border-radius: 3px;
    margin-top:30px;
    color:#FFFFFF;
    text-align: center;
    background-color: #F17F53;
}

.vwo-list > li{
    padding: 10px 10px 10px 90px;
    position: relative;
    height: 80px;
    border-bottom:1px solid #EAEAEA;
}

.vwo-list > li > img{
    position:absolute;
    top:10px;
    left:20px;
    width:60px;
    height:60px;
}

.vwo-list > li > span{
    line-height: 60px;
}

.vwo-list > li > i{
    position: absolute;
    right:20px;
    top:40%;
}

.vwo-item{
    border-bottom: 1px solid #D3D3D3;
    position: relative;
}

.vwo-item > i:last-child{
    position: absolute;
    right:20px;
    bottom:20px;
}
.vwo-item span{
    position: absolute;
    right:20px;
}
.foodFt{
    font-size: 14px;
    padding: 0 20px;
}
.shopTop > img,
.shopTop > .info > img{
    width:80px;
    height:80px;
    border-radius: 50%;
}
.shopTab{
    border-bottom:4px solid transparent;
    height:40px;
    line-height:30px;
    color:#FBDFC5;
}
.shopTab.active{
    color:#FFF;
    font-weight: bold;
    border-bottom:4px solid #FBD392;
}
.shopInput{
    position: relative;
    border-bottom: 1px solid #D3D3D3;
}
.shopInput > .title{
    width:38%;
    display: inline-block;
}
.shopInput > .input{
    display: inline-block;
    vertical-align: bottom;
}
.shopInput > .remove{
    position: absolute;
    right:20px;
    top:10px;
    color:#EE5D64;
}
.shopFroot{
    position: fixed;
    bottom: -2px;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
}

.shopCount{
    position: relative;
    margin:0 auto;
    text-align: center;
}
.shopCount > .left{
    display: inline-block;
    width:50%;
}
.shopCount > .right{
    border-left: 1px solid #F5A631;
    display: inline-block;
    width:50%;
}
.shopCount span{
    font-size: 20px;
}

.shopCount span:last-child{
    font-size: 16px;
}

.shopTitle{
    margin-top:10px;
    height:50px;
    position: relative;
}
.shopTitle > .title{
    height:50px;
    line-height: 50px;
}
.shopTitle > .btn{
    position: absolute;
    right:10px;
    top:5px;
    padding:0px 20px;
    height:40px;
    line-height: 40px;
    border-radius: 20px;
}

.shopTopI {
    font-size: 16px;
    padding: 30px 20px 10px 20px;
    height: 160px;
}

.vwo-fns{
    font-size: 10px;
}
.vwo-fnm{
    font-size: 12px;
}
.vwo-fnl{
    font-size: 14px;
}
.vwo-fnxl{
    font-size: 16px;
}

.vwo-fnS{
    font-size: 20px;
}

.vwo-fnSSS{
    font-size: 40px;
}

@media screen and (min-width: 375px) {
    .shopTitle{
        margin-top:10px;
        height:60px;
        position: relative;
    }
    .shopTitle > .title{
        height:60px;
        line-height: 60px;
    }
    .shopTitle > .btn{
        position: absolute;
        right:10px;
        top:10px;
        padding:0px 20px;
        height:40px;
        line-height: 40px;
        border-radius: 20px;
    }
    .vwo-fns{
        font-size: 12px;
    }
    .vwo-fnm{
        font-size: 14px;
    }
    .vwo-fnl{
        font-size: 16px;
    }
    .vwo-fnxl{
        font-size: 20px;
    }
    .vwo-fnS{
        font-size: 30px;
    }
    .vwo-fnSSS{
        font-size: 50px;
    }
    .shopTopI{
        font-size:20px;
        padding: 30px 20px 10px 20px;
        height: 160px;
    }
}